<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @book.Stock %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.Category %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.Author %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
