<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Book:</strong>
  <%= @reservation.Book %>
</p>

<p>
  <strong>Librian:</strong>
  <%= @reservation.Librian %>
</p>

<p>
  <strong>Client:</strong>
  <%= @reservation.Client %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
